
.ui-icon-loading {
	background: url("../images/ajax-loader.gif");
	background-size: 2.875em 2.875em;
	 position: relative !important;
    float: right !important;
}


.ui-icon-awri32:after{
background-image:url('data:image/svg+xml;charset=US-ASCII,<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  width="14px" height="14px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14;" xml:space="preserve"><path d="M5.256 14.012c-1.046-.34-2.253-1.07-3.005-1.813l-.825-.817.51-.043c.42-.036.65.062 1.26.53.41.315 1.01.7 1.333.854 2.156 1.03 4.918.61 6.628-1.007.367-.348.54-.41 1.014-.374l.572.044-.838.82c-.527.517-1.227 1.012-1.886 1.335-1.006.494-1.116.516-2.725.55-.922.02-1.84-.016-2.037-.08zm.22-1.206c-.076-.03-.316-.095-.532-.143-.327-.074-.385-.152-.35-.467.05-.43.368-.565 1.372-.587l.63-.015.003-1.237c0-.68.036-2.434.076-3.897.04-1.462.027-2.688-.03-2.723-.303-.19-3.66.647-4.008 1-.044.044.21.985.567 2.09.356 1.106.76 2.384.897 2.84l.25.83-.317.258c-.614.503-2.346.527-3.076.044-.327-.217-.336-.342-.08-1.136.07-.217.057-.225-.07-.048-.136.188-.168.188-.29 0C.24 9.176.067 7.81.13 6.55.19 5.43.27 5.103.706 4.172 1.585 2.294 3.292.77 5.118.227c.944-.28 2.897-.29 3.897-.022 2.246.605 4.27 2.7 4.856 5.028.263 1.036.216 3.254-.084 4.077l-.172.472-.21-.44c-.287-.6-.368-.46-.105.177.296.718.263 1.044-.134 1.307-.764.506-2.826.356-3.19-.233-.1-.163.095-.938.72-2.874.473-1.457.858-2.736.858-2.84 0-.106-.36-.33-.803-.5-.838-.32-2.926-.75-3.178-.65-.097.037-.123.92-.078 2.652.038 1.43.07 3.186.073 3.905l.006 1.308h.56c.894.002 1.605.253 1.605.567 0 .47-.535.618-2.375.66-.96.02-1.81.014-1.886-.016zM2.02 9.616c.31 0 .313-.025.303-1.803-.01-1.396-.043-1.707-.15-1.38-.077.235-.193.553-.26.708-.064.157-.253.73-.42 1.274-.164.544-.326 1.077-.36 1.183-.044.14.026.17.255.108.174-.047.458-.086.63-.088zm1.842.035c-.004-.057-.283-.932-.62-1.943l-.61-1.838-.01 1.864-.01 1.864.525.056c.288.03.57.066.63.08.056.012.1-.025.095-.083zm7.378-.033c.31 0 .314-.024.303-1.875-.006-1.03-.032-1.81-.058-1.732-.026.078-.278.868-.56 1.755-.283.888-.55 1.71-.595 1.826-.062.166-.006.192.258.12.186-.05.48-.09.652-.093zm1.786-.037c-.03-.097-.283-.924-.56-1.838-.276-.913-.53-1.66-.567-1.66-.037 0-.066.79-.066 1.758v1.758l.524.056c.288.03.57.066.624.08.055.012.075-.057.044-.154zM2.114 4.747c-.265-.198-.265-.202.01-.294.154-.052.877-.367 1.607-.7 1.89-.867 2.407-1.037 2.48-.818.088.266.31.214.607-.14.266-.318.267-.318.51-.036.184.21.422.282.944.284.543.002 1.01.153 2.08.672.76.368 1.5.668 1.642.668.316 0 .342.223.046.39-.22.126-.204.197.835 3.498l.178.566.102-1c.44-4.322-3.21-7.713-7.354-6.83-3.06.652-5.082 3.545-4.773 6.83l.092.976.633-1.933c.617-1.882.627-1.938.364-2.133z" fill="#fff"/></svg>');
}
.ui-icon-awri32-black:after{
background-image:url('data:image/svg+xml;charset=US-ASCII,<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  width="14px" height="14px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14;" xml:space="preserve"><path d="M5.256 14.012c-1.046-.34-2.253-1.07-3.005-1.813l-.825-.817.51-.043c.42-.036.65.062 1.26.53.41.315 1.01.7 1.333.854 2.156 1.03 4.918.61 6.628-1.007.367-.348.54-.41 1.014-.374l.572.044-.838.82c-.527.517-1.227 1.012-1.886 1.335-1.006.494-1.116.516-2.725.55-.922.02-1.84-.016-2.037-.08zm.22-1.206c-.076-.03-.316-.095-.532-.143-.327-.074-.385-.152-.35-.467.05-.43.368-.565 1.372-.587l.63-.015.003-1.237c0-.68.036-2.434.076-3.897.04-1.462.027-2.688-.03-2.723-.303-.19-3.66.647-4.008 1-.044.044.21.985.567 2.09.356 1.106.76 2.384.897 2.84l.25.83-.317.258c-.614.503-2.346.527-3.076.044-.327-.217-.336-.342-.08-1.136.07-.217.057-.225-.07-.048-.136.188-.168.188-.29 0C.24 9.176.067 7.81.13 6.55.19 5.43.27 5.103.706 4.172 1.585 2.294 3.292.77 5.118.227c.944-.28 2.897-.29 3.897-.022 2.246.605 4.27 2.7 4.856 5.028.263 1.036.216 3.254-.084 4.077l-.172.472-.21-.44c-.287-.6-.368-.46-.105.177.296.718.263 1.044-.134 1.307-.764.506-2.826.356-3.19-.233-.1-.163.095-.938.72-2.874.473-1.457.858-2.736.858-2.84 0-.106-.36-.33-.803-.5-.838-.32-2.926-.75-3.178-.65-.097.037-.123.92-.078 2.652.038 1.43.07 3.186.073 3.905l.006 1.308h.56c.894.002 1.605.253 1.605.567 0 .47-.535.618-2.375.66-.96.02-1.81.014-1.886-.016zM2.02 9.616c.31 0 .313-.025.303-1.803-.01-1.396-.043-1.707-.15-1.38-.077.235-.193.553-.26.708-.064.157-.253.73-.42 1.274-.164.544-.326 1.077-.36 1.183-.044.14.026.17.255.108.174-.047.458-.086.63-.088zm1.842.035c-.004-.057-.283-.932-.62-1.943l-.61-1.838-.01 1.864-.01 1.864.525.056c.288.03.57.066.63.08.056.012.1-.025.095-.083zm7.378-.033c.31 0 .314-.024.303-1.875-.006-1.03-.032-1.81-.058-1.732-.026.078-.278.868-.56 1.755-.283.888-.55 1.71-.595 1.826-.062.166-.006.192.258.12.186-.05.48-.09.652-.093zm1.786-.037c-.03-.097-.283-.924-.56-1.838-.276-.913-.53-1.66-.567-1.66-.037 0-.066.79-.066 1.758v1.758l.524.056c.288.03.57.066.624.08.055.012.075-.057.044-.154zM2.114 4.747c-.265-.198-.265-.202.01-.294.154-.052.877-.367 1.607-.7 1.89-.867 2.407-1.037 2.48-.818.088.266.31.214.607-.14.266-.318.267-.318.51-.036.184.21.422.282.944.284.543.002 1.01.153 2.08.672.76.368 1.5.668 1.642.668.316 0 .342.223.046.39-.22.126-.204.197.835 3.498l.178.566.102-1c.44-4.322-3.21-7.713-7.354-6.83-3.06.652-5.082 3.545-4.773 6.83l.092.976.633-1.933c.617-1.882.627-1.938.364-2.133z" fill="#000"/></svg>');
}

.ui-icon-awri32-png:after{
background-image:url('../images/awri32-white.png');
}

.ui-icon-awri32-png-black:after{
background-image:url('../images/awri32-black.png');
}

#bookmark_toggle.active{
	background-color:#CAFF70;
}

#bookmark_toggle.inactive{
	background-color:#FF7256;
}
.field-name-upload-createfrage-field-image-1-start{
	display:none;
}
.field-name-upload-createfrage-field-image-2-start{
	display:none;
}
.field-name-upload-createfrage-field-image-3-start{
	display:none;
}
.field-name-upload-createfrage-field-image-4-start{
	display:none;
}
.field-name-upload-createfrage-field-image-5-start{
	display:none;
}
.splash{
	background-image:url("../images/splash.png");
	 background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}
.body{
	font-family: 'Oswald', sans-serif;
}
